<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is first_app page</h1>
    <h2>author : {{author}}</h2>
    <h2>age : {{age}}</h2>
    <h2>{{lst}}</h2>

    {% comment %} conditional statment {% endcomment %}

    {% if age >= 20 %}
        <h4>You will get driving lincence</h4>
    {% elif age >= 10 and age <= 19 %}
        <h4>You will not get driving lincence</h4>
    {% else %}
        <h4>You are a child</h4>

    {% endif %} 

    {{lst}}
    <h1>{{ lst | join:" - " }}</h1>

    <h1>{{ birthday | date:"D d M Y" }}</h1>

    <h1>{{"Python is Fun" | cut:" "}}</h1>
    <h1>{{ val | length }}</h1>
    <h1>{{"Better days ahead, python is fun" | truncatewords:1}}</h1>
    {% comment %} for loop {% endcomment %}

    {% for i in courses %}
    <h4>{{i.id}}, {{i.name}}, {{i.fee}}</h4>
    {% endfor %}
</body>
</html>